@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burger {
        display: none;
    }

    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
    main {
        width: 768px;
    }
}