@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: #FFF;
    text-align: center;
}

header h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: #FFF;
    text-decoration: none;
    font-weight: bolder;
}

a:hover, footer:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section.normal {
    background-color: #FFF;
    color: black;
}

section.imagem {
    background-color: rgb(53, 53, 53);
    color: #FFF;

}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.24);
    display: inline-block;
    padding: 5px;
}

footer {
    background-color: black;
    text-align: center;
    color: #FFF;
    padding: 10px;
}