@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #d1c0a1, #c0a17b);
}

p {
 text-align: justify;
}

h1 {
    color: #A67051;
    text-align: center;
    text-shadow: 1px 1px 2px #704837c2;
}

h2 {
    color: #81A8A8;
}

main {
    background-color: white;
    border-radius: 12px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #6e4231;
}

